$bodyBackground: #F4F4F4;

$buttonColor: #FFD912;
$buttonColorHover: #FFD512;
$buttonColorDisable: #E6E6E6;

$buttonColorText: #111;
$buttonColorTextDisable: #999;
$buttonColorPlaceholder: #dbdbdb;

$bgcListItem: #F9F9F9;
$bgcListItemHover: #F9F9F9;

$colorHeding: #000;

