.btn{
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &_callback{
        font-size: 0;
        padding: 43px;
        background-color: $buttonColor;
        border-radius: 50%;
        background-image: url('../img/phone.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        
        &:hover{
            background-color: $buttonColorHover;
        }
    }
}
