.header{
    padding-top: 64px;

    &__wrap{
        max-width: 1383px;
        width: 100%;
        margin: auto;
        padding: 0 30px;
        box-sizing: border-box;
    }
    &__flex{
        display: flex;
        align-items: center;
    }

    &__right{
        margin-left: auto;
    }
}


.logo{
    &__img{
        display: block;
    }
}